@{
    ViewData["Title"] = "AccountIndex";
}
<div class="container" style="min-height:320px">
    <div class="container" style="position: absolute; top: 50%; transform: translateY(-50%);">
        <div class="row">
            <a class="btn btn-success" asp-action="Login">Log in</a>
            <a class="btn btn-success" asp-action="Registration">Registration</a>
        </div>
    </div>
</div>
