@model RelationsPlatform.Web.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/User/_Menu.cshtml";
}


<div class="container" style="min-height:100px">
    <div class="container" style="position: absolute; top: 50%; transform: translateY(-50%);">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4 bg-light p-3 mb-4">
                <h2>Log in</h2>
                <form method="post" asp-action="ChangePassword">
                    <div>
                        <input id="chpss" type="text" asp-for="OldPassword" placeholder="Old password" class="form-control" />
                    </div>
                    <div>
                        <input id="chpss" asp-for="NewPassword" type="password" placeholder="New password" class="form-control" />
                    </div>
                    <div>
                        <input id="chpss" type="submit" class="btn-dark btn-block" value="Log in" />
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="aro-pswd_info">
                    <div id="pswd_info">
                        <h4 id="changePass">Password must be requirements</h4>
                        <ul>
                            <li id="letter" class="invalid">At least <strong>one letter</strong></li>
                            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
                            <li id="number" class="invalid">At least <strong>one number</strong></li>
                            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                            <li id="space" class="invalid">be<strong> use [~,!,#,$,%,^,&,*,-,=,.,;,']</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

