@model RelationsPlatform.Web.ViewModels.UserViewModel

@{
    ViewData["Title"] = "MainUserPage";
}

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-10 ">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Form Name -->
                    <legend>User profile form requirement</legend>
                    <hr />
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Photo</label>
                        <div class="col-md-4">
                            <input type='file' onchange="readURL(this);" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="col-md-4 col-form-label text-md-right">Name</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Name" class="form-control" id="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Digital name</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="DigitalName" class="form-control" placeholder="Disgital name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Birthday</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Birthday" class="form-control" placeholder="YYYY-MM-DD">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Birthday</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Birthday" class="form-control" placeholder="YYYY-MM-DD">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Gender</label>
                        <div class="col-md-4">
                            <label class="radio-inline" asp-for="Gender">
                                <input type="radio" name="Gender" id="Gender-0" value="Male" checked="checked">
                                Male
                            </label>
                            <label class="radio-inline" asp-for="Gender">
                                <input type="radio" name="Gender" id="Gender-1" value="Female">
                                Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Overview</label>
                        <div class="col-md-4">
                            <textarea class="form-control" rows="7" asp-for="Description">Overview</textarea>
                        </div>
                    </div>
                    <legend>Contacts</legend>
                    <hr />
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Instagram</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Instagram" class="form-control" placeholder="Instagram">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Telegram</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Telegram" class="form-control" placeholder="Telegram">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Facebook</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Facebook" class="form-control" placeholder="Facebook">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Email</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Discord</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Discord" class="form-control" placeholder="Discord">
                        </div>
                    </div>
                    <legend>Address</legend>
                    <hr />
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Country</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Address.Country" class="form-control" placeholder="Country">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Region</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Address.Region" class="form-control" placeholder="Region">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">City</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Address.City" class="form-control" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Street</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Address.Street" class="form-control" placeholder="Street">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Number of house</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Contact.Address.NumberOfHouse" class="form-control" placeholder="Number of house">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <a href="#" class="btn btn-danger">Cancel</a>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-success" value="">save</a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-2 hidden-xs">
            <img id="blah" alt="your image" src="~/img/ava.png" class="img-responsive img-thumbnail ">
        </div>
    </div>
</div>
