@model RelationsPlatform.Web.ViewModels.UserViewModel

@{
    ViewData["Title"] = "MainUserPage";
    Layout = "~/Views/User/_Menu.cshtml";
}

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-10 ">
            <form class="form-horizontal" asp-action="EditUser" enctype="multipart/form-data">
                <fieldset>
                    <!-- Form Name -->
                    <legend>User profile form requirement</legend>
                    <hr />
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Photo</label>
                        <div class="col-md-4">
                            <input type='file' asp-for="File" onchange="readURL(this);" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="col-md-4 col-form-label text-md-right">Name</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Name" class="form-control" id="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Login</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Login" class="form-control" placeholder="Login">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Password</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Digital name</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="DigitalName" class="form-control" placeholder="Disgital name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Birthday</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Birthday" class="form-control" placeholder="YYYY-MM-DD">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Gender</label>
                        <div class="col-md-4">
                            @if (@Model.Gender == "Male")
                            {
                                <label class="radio-inline" asp-for="Gender">
                                    <input type="radio" name="Gender" id="Gender-0" value="Male" checked="checked">Male
                                </label>
                                <label class="radio-inline" asp-for="Gender">
                                    <input type="radio" name="Gender" id="Gender-1" value="Female">Female
                                </label>
                            }
                            else
                            {
                                <label class="radio-inline" asp-for="Gender">
                                    <input type="radio" name="Gender" id="Gender-0" value="Male">Male
                                </label>
                                <label class="radio-inline" asp-for="Gender">
                                    <input type="radio" name="Gender" id="Gender-1" value="Female" checked="checked">Female
                                </label>
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Overview</label>
                        <div class="col-md-4">
                            <textarea class="form-control" rows="7" asp-for="Description">Overview</textarea>
                        </div>
                    </div>
                    <legend>Contacts</legend>
                    <hr />
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Instagram</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Instagram" class="form-control" placeholder="Instagram">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Telegram</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Telegram" class="form-control" placeholder="Telegram">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Facebook</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Facebook" class="form-control" placeholder="Facebook">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Email</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Discord</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Discord" class="form-control" placeholder="Discord">
                        </div>
                    </div>
                    <legend>Address</legend>
                    <hr />
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Country</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Country" class="form-control" placeholder="Country">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Region</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Region" class="form-control" placeholder="Region">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">City</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="City" class="form-control" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">District</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="District" class="form-control" placeholder="District">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Street</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="Street" class="form-control" placeholder="Street">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">Number of house</label>
                        <div class="col-md-4">
                            <input type="text" asp-for="NumberOfHouse" class="form-control" placeholder="Number of house">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary" style="width:150px;" value="">Advanced</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="row justify-content-end">
                                <div class="col-md-4">
                                    <a asp-action="Profile" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success" value="">save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-2 hidden-xs">
            @if (Model.Avatar == null)
            {
                <img id="blah" alt="your image" src="~/img/ava.png" class="img-responsive img-thumbnail imgAva">
            }
            else
            {
                <img id="blah" alt="your image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Avatar)" class="img-responsive img-thumbnail imgAva">
            }
        </div>
    </div>
</div>
