@model RelationsPlatform.Web.ViewModels.UserTaskViewModel

@{
    ViewData["Title"] = "Task";
    Layout = "~/Views/User/_Menu.cshtml";
}

<div class="container emp-profile">
    <form method="post">
        <div class="relationRow">
            <div class="row">
                <div class="col-md-10">
                    <h4>@Model.ShortDescription</h4>
                </div>
                <div class="col-md-2">
                    <a id="buttonListProfile" asp-action="EditUserTask" asp-route-id="@Model.TaskId" class="btn btn-primary btn-sm">Редагувати</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <p style="margin-left:50px;">@Model.LongDescription</p>
                </div>
            </div>
        </div>
    </form>
</div>
